@page
@model AboutModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">Websoft</h1>
    <p>This exercise is about a web application.<br>
    Why show Json file in text table is so that headache.</p>
</div>
