@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our website respects and protects the personal privacy of all users of the service. In order to provide you with more accurate and personalized services,
we will use and disclose your personal information in accordance with the provisions of this privacy policy.</p>
