/*
 * Comments are written as C++ style.
 */
html {
    overflow-y: scroll;
}

body {
    margin: 8px auto;
    background: #fff;
    width: 700px;
    color: green;
}

h1 {
    text-align: center;
}

h3 {
    color: green;
}

#content {
    border: 1px solid black;
    background-color: #fefeee;
    padding: 2em;
    margin: 0 auto;
    height: 500px;
    width: 800px;
    border-radius: 30px;
}

#table1{
  width: 900px;
  padding: 0;
  margin: 20 auto;
  border-collapse: collapse;
}

td{
  border: 1px solid #ddd;
  padding: 6px 6px 6px 12px;
  color: #4f6b72;
  text-align: center;
}

tr{
  border: 1px solid #ddd;
  padding: 6px 6px 6px 12px;
  color: #4f6b72;
  text-align: center;
  background: #d3d3d3;
}

.flag {
    position: relative;
    width: 300px;
    height: 200px;
}

.elfenbenskusten {
    background-color: #fff;
}

.elfenbenskusten .part1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 200px;
    background-color: #f77f00;
}

.elfenbenskusten .part2 {
    position: absolute;
    top: 0;
    left: 200px;
    width: 100px;
    height: 200px;
    background-color: #009e60;
}
