html {
    overflow-y: scroll;
}


.cat {
    position: relative;
    width: 342px;
    height: 256px;
    border: 1px solid black;
    background-image: url(../img/cat.jpg);
    background-size: 342px;
    top: 200px;
    left: 10px;

    color: white;
}

